//= require_tree
//= require_self

@import "https://goo.gl/DcDN1G";

@import "bootstrap-sprockets";
@import "bootstrap";

.form-control {
  width: 80%;
  text-align: center;

}

.btn-warning {
  color: black;
}

.recent-evaluations {
  position: right;
}

.card-img-top {
  height: 300px;
  width: 250px;
}
 .question {

  margin: auto;
  width: 10%;
}

.batch-title {
  text-align: center;
}

.dropdown-menu {
  width: 300px;
  padding-left: 10px;
}
