@import "bootstrap-sprockets";
@import "bootstrap";

.form-control {
  width: 100%;
  text-align: center;

}

.btn-warning {
  color: black;
}

.recent-evaluations {
  position: right;
}

.card-img-top {
  height: 300px;
  width: 250px;
}
