// Place all the styles related to the batches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.batch-buttons {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgb(77, 77, 77);
  height: 75px;
  color: white;
  font-size: 20px;
}
