// Place all the styles related to the batches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.batch-buttons {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: rgb(125, 144, 167);
  height: 75px;

}
